@model IEnumerable<BusinessObjects.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </th>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.CategoryId  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
                    @using (Html.BeginForm("Delete", "Categories", new { id = item.CategoryId }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" />
                    }
            </td>
        </tr>
}
    </tbody>
</table>
